In [6]:
import pandas_gbq #Essa biblioteca vai importar as tabelas do bigquery como dataframes

query = """SELECT name, SUM(number) as total_people
    FROM `bigquery-public-data.usa_names.usa_1910_2013`
    WHERE state = 'TX'
    GROUP BY name, state
    ORDER BY total_people DESC
    LIMIT 20""" #Essa é a query de exemplo

result_dataframe = pandas_gbq.read_gbq(query, project_id = "hackaton-fgv") #Aqui ele precisa do ID do nosso projeto

/home/pedro/Modelos/Faculdade/hackaton-fgv/venv/lib/python3.11/site-packages/google/cloud/bigquery/table.py:2257: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

In [7]:
result_dataframe #Como podemos ver o resultado vem como dataframe e aí a gente trabalha como preferir :D

           name  total_people
0         James        272793
1          John        235139
2       Michael        225320
3        Robert        220399
4         David        219028
5          Mary        209893
6       William        173092
7          Jose        157362
8   Christopher        144196
9         Maria        131056
10      Charles        126509
11       Daniel        117470
12      Richard        109888
13         Juan        109808
14     Jennifer         98696
15       Joshua         90679
16    Elizabeth         90465
17       Joseph         89097
18      Matthew         88464
19          Joe         87977